body {
    background-color: #000000;
}

img {
    /*width: 500px;
    margin-top: 100px;    
    */
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.fa-arrow-right{
    color: white;
    width: 15px;
}
