body {
    background-color: #000000;
}

img {
    /*width: 500px;
    margin-top: 100px;    
    */
    max-width: 40vw;
}

.logo{
  padding-left: 10%;
  display: block;
  height: auto;
}

.arr{
  display: block;
  width: 10%;
}

.container{
  justify-content: center;
  display: flex;
  max-height: 100vh;
  align-items: flex-end;
  align-content: center;

}