body {
    background-color: #000000;
}

img {
    /*width: 500px;
    margin-top: 100px;    
    */
    max-width: 400px;
}

/*.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }*/

.arr{
  display: block;
  width: 10%;
}

.container{
  height: 50vh;
  justify-content: center;
  display: flex;
  height: auto;
  align-items: flex-end;
}